spring:
  datasource:
    url: jdbc:mysql://localhost:3306/my_blog?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: 你的本地数据库密码
    driver-class-name: com.mysql.cj.jdbc.Driver

  mail:
    host: smtp.qq.com
    port: 465
    username: 2491116263@qq.com
    password: 你的QQ邮箱SMTP授权码
    protocol: smtps
    properties:
      mail:
        smtp:
          auth: true
          ssl:
            enable: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000

  data:
      redis:
        host: 192.168.109.129
        port: 6379
        password: 你设置的Redis密码
        database: 0
        timeout: 5000ms
        lettuce:
          pool:
            max-active: 8
            max-idle: 8
            min-idle: 0

logging:
  level:
    com.liuliu.example.myblogbackend: DEBUG
    org.springframework: INFO

mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

jwt:
  secret: 你的JWT密码，需要自己设置，至少要32个字节

glm:
  api-key: 你的智谱APIKey

cos:
  secret-id: 你的腾讯云SecretId
  secret-key: 你的腾讯云SecretKey
  bucket: 你的COSBucket名
  region: 你的COSRegion，如ap-guangzhou